/* @media screen and (max-width: 600px) {
	#landing {
		background-color: pink;
	}
} */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
	box-sizing: border-box;
	margin: 0 auto;
	font-weight: 100;
	/* display: flex; */
}


body {
	font-family: sans-serif;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	/* padding: 3em; */
	overflow: hidden;
	background-color: rgb(255, 185, 189);
	flex-direction: column;
}

.header {
	display: block;
	font-size: 3em;
	display: flex;
	height: 10%;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	align-content: space-around;
	/* padding: 0; */
}


.slider-readout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2em;
}

#game-id-input {
	border: none;
	outline: none;
	padding: .4em;
	font-size: 1.2em;
	/* margin: .15em; */
	margin-top: 2em;

}

#game-id-input,
#speed-input,
#player-count-input {
	/* margin: .15em; */
	outline: none;
	width: 100%;
	transition: all .3s ease-in-out;
	border: none;
}

#speed-input,
#player-count-input {
	margin: .2em;
	height: 2em;
	/* width: 100%; */
}

#speed-input:focus,
#player-count-input:focus {
	outline: none;
}

#speed-title,
#num-players-title {
	width: 70%;
	text-align: start;
}

#speed-display,
#player-count-display {
	text-align: end;
	width: 20%;
}

#speed-input:hover,
#player-count-input:hover {
	cursor: pointer;
}

#game-id-input:hover,
#speed-input:hover,
#player-count-input:hover {
	/* transform: scale(1.01); */
}

#game-id-input:focus,
#speed-input:focus,
#player-count-input:focus {
	outline: none;
}

#create-btn,
#join-btn {
	/* margin: .15em; */
	margin-top: .25em;
	font-size: 1.2em;
	color: white;
	padding: .5em;
	background-color: rgb(108, 119, 142);
	/* background-color: rgb(67, 67, 67); */
	border: none;
	width: 100%;
	transition: all .3s ease-in-out;
	/* border-bottom-right-radius: 10%; */

}

#create-btn {
	/* border-top-left-radius: 1em; */
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

#create-btn:hover,
#join-btn:hover {
	transform: scale(1.01);
}

.main-banner {
	font-family: 'Monoton', sans-serif;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 5em;
	/* color: rgb(57, 57, 57); */
	width: 100%;
}

.landing-banner {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: 2.2rem;
	/* color: rgb(57, 57, 57); */
	animation: p-animate 1s ease-in-out infinite alternate;

}

#input-div {
	width: 30vw;
	height: 100%;
	width: 40%;
	/* padding: 1.5em 2em 1.5em 2em; */
	padding: 2em;
	margin-bottom: 5em;
	background-color: rgba(0, 0, 0, 0.112);
	/* border-radius: .625em; */

	/* border-top-left-radius: 1em; */
	/* border-bottom-left-radius: 2em; */
	/* border-bottom-right-radius: 2em; */
	border-radius: 2em;
}

#landing {
	position: absolute;
	/* background-color: aquamarine; */
	color: rgb(255, 255, 255);

	/* background-color: rgb(51, 74, 108); */
	/* background-color: rgb(81, 81, 81); */

	background-color: rgb(100, 199, 235);

	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	flex-direction: column;

}

#wait-screen {
	position: absolute;
	background-color: rgb(100, 199, 235);
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;

	/* remove z-index */
	/* z-index: 4; */



	display: flex;
	justify-content: space-around;
	/* align-items: flex-end; */
	margin: 0;
	flex-direction: column;
	/* display: none; */
}

#crash-screen {
	position: absolute;
	background-color: rgb(62, 62, 62);
	/* top: 0;
	left: 0; */
	margin: 0;
	height: 90vh;
	width: 90vw;
	z-index: -10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Monoton;
	color: yellowgreen;
	/* text-shadow: .2em .2em red, .4em .4em yellow; */
	font-size: 5rem;

	/* display: none; */
}

#game-over-result-display {
	font-family: sans-serif;
	color: rgb(75, 156, 218);
	font-size: 2rem;
	text-transform: uppercase;
}

/* #game-over-msg {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
} */

.game-id {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	/* align-content: space-around; */
	font-size: 3rem;
	color: rgb(73, 73, 73);
}

#space-bar {
	animation: p-animate 1s ease-in-out infinite alternate;

}

/* previous settings
.scores {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.5rem;
	z-index: 2;
} */

.scores {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
	/* font-size:  */
}

/* previous 
#p1-display-div,
#p2-display-div,
#p3-display-div,
#p4-display-div {
	display: none;
	
} */
#p1-display-div,
#p2-display-div,
#p3-display-div,
#p4-display-div {
	display: none;
	width: 5rem;
	/* font-size: 1em; */
}

.scores p {
	text-align: center;
	/* padding: .625em; */
}

.scores>* {
	padding: 1.5rem;
}

/* #scores1-display-div {

}

#scores2-display-div {

} */
/* .player-1 {
	margin: .625em;
	border-radius: .625em;
	color: rgba(0, 0, 0, 0.829);
	border: .24em solid rgba(255, 255, 255, 0.249);
	background-color: rgba(255, 255, 255, 0.174);
} */
#player-info {
	margin: .625em;
	/* border-radius: .625em; */
	padding: 1em;
	font-size: .75em;
	font-weight: bold;
}

.green {
	color: rgb(215, 236, 176);
	/* color: rgba(19, 88, 28, 0.829); */
	/* border: .24em solid rgba(19, 88, 28, 0.493);
	background-color: rgba(215, 236, 176, 0.671); */
}

.orange {
	color: rgb(255, 152, 67);
	/* color: rgba(73, 33, 0, 0.863); */
	/* border: .24em solid rgba(73, 33, 0, 0.466);
	background-color: rgb(255, 152, 67); */
}

.white {
	color: rgb(43, 42, 42);
	border: .24em solid rgba(58, 58, 58, 0.856);
	background-color: rgba(255, 255, 255, 0.842);
}

.yellow {
	color: rgb(80, 76, 19);
	border: .24em solid rgba(139, 132, 33, 0.897);
	background-color: rgba(255, 242, 67, 0.822);
}

.player-1 {
	margin: .625em;
	border-radius: .625em;
	color: rgba(19, 88, 28, 0.829);
	border: .24em solid rgba(19, 88, 28, 0.493);
	background-color: rgba(215, 236, 176, 0.671);
}

.player-2 {
	margin: .625em;
	border-radius: .625em;
	color: rgba(73, 33, 0, 0.863);
	border: .24em solid rgba(73, 33, 0, 0.466);
	background-color: rgb(255, 152, 67);
}

.player-3 {
	margin: .625em;
	border-radius: .625em;
	color: rgb(43, 42, 42);
	border: .24em solid rgba(58, 58, 58, 0.856);
	background-color: rgba(255, 255, 255, 0.842);
}

.player-4 {
	margin: .625em;
	border-radius: .625em;
	color: rgb(80, 76, 19);
	border: .24em solid rgba(139, 132, 33, 0.897);
	background-color: rgba(255, 242, 67, 0.822);
}

#game-board {
	background-color: rgb(193, 250, 255);
	width: 75vmin;
	height: 75vmin;
	display: grid;
	grid-template-columns: repeat(21, 1fr);
	grid-template-rows: repeat(21, 1fr);
	margin: 0;
	box-shadow: .5rem .5rem 1.5rem rgba(0, 0, 0, 0.185);
}

.snake {
	margin: .031em;
	border-radius: .625em;
	box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.418);
}

.snake-1 {
	border: .313em solid rgba(19, 88, 28, 0.493);
	background-color: rgba(215, 236, 176, 0.671);
}

.snake-head-1 {
	background-color: rgba(104, 173, 90, 0.774);
	animation: head .350s ease-in 1 forwards;
}

.snake-2 {
	border: .313em solid rgba(73, 33, 0, 0.466);
	background-color: rgb(255, 152, 67);
}

.snake-head-2 {
	background-color: rgba(206, 93, 0, 0.904);
	animation: head .350s ease-in 1 forwards;
}

.snake-3 {
	background-color: rgba(255, 255, 255, 0.842);
	border: .313em solid rgba(58, 58, 58, 0.856);
}

.snake-head-3 {
	background-color: rgba(124, 124, 124, 0.842);
	animation: head .350s ease-in 1 forwards;
}

.snake-4 {
	background-color: rgba(255, 242, 67, 0.822);
	border: .313em solid rgba(139, 132, 33, 0.897);
}

.snake-head-4 {
	background-color: rgba(170, 162, 70, 0.76);
	animation: head .350s ease-in 1 forwards;
}

.snake-tail {
	animation: tail .350s ease-in 1 forwards;
}

@keyframes tail {
	0% {
		opacity: 1;
		transform: scale(1)
	}

	55% {
		opacity: .75;
		transform: scale(.75)
	}

	75% {
		opacity: .5;
		transform: scale(.75)
	}
}

@keyframes head {
	0% {
		transform: scale(1)
	}

	55% {
		transform: scale(1.25)
	}
}

.food {
	background-color: rgb(184, 146, 189);
	border: .313em solid rgba(115, 74, 121, 0.486);
	margin: .031em;
	border-radius: .625em;
	z-index: 1;
	box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.418);

	animation: food .35s ease-in infinite alternate;
}

@keyframes food {
	0% {
		transform: scale(1);
	}

	25%,
	55% {
		transform: scale(1.25);
	}

	100% {
		transform: scale(1);
	}
}

.overlay {
	position: absolute;
	background-color: rgb(255, 185, 189);
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.play {
	display: flex;
	height: 100vh;
	width: 100vw;

	/* wasn't specied earlier */
	flex-direction: column;

	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: 2.5rem;
	color: rgb(255, 255, 255);
	animation: p-animate 1s ease-in-out infinite alternate;
}


@keyframes p-animate {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.hide {
	display: none;
}

.stack {
	flex-direction: column;
	align-content: center;
}