* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: sans-serif;
	font-weight: 100;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	/* padding: 3em; */
	overflow: hidden;
	/* background-color: rgba(255, 162, 167, 0.664); */
	background-color: rgba(255, 162, 167, 0.233);
	flex-direction: column;
}

.header {
	display: block;
	font-size: 3em;
	display: flex;
	height: 10%;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	align-content: space-around;
}

.scores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* align-content: center; */
	/* margin: 0; */
	font-size: 3rem;
	background-color: aliceblue;
	padding: 2rem;
	border-radius: .625rem;
	display: none;
	/* box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.178); */
}

.player-1 {
	/* background-color: rgba(215, 236, 176, 0.671); */
	/* border: .3rem solid rgba(19, 88, 28, 0.493); */
	color: rgba(19, 88, 28, 0.623);
}

.player-2 {
	/* background-color: rgb(255, 152, 67); */
	/* border: .3rem solid rgba(73, 33, 0, 0.466); */
	color: rgba(73, 33, 0, 0.555);
}

#game-board {
	background-color: rgb(193, 250, 255);
	/* border: .3rem solid rgba(62, 130, 138, 0.445); */
	width: 75vmin;
	height: 75vmin;
	display: grid;
	grid-template-columns: repeat(21, 1fr);
	grid-template-rows: repeat(21, 1fr);
	border-radius: .625rem;
	margin: 0;
	box-shadow: .5rem .5rem 1.5rem rgba(0, 0, 0, 0.185);

}

.snake-1 {
	background-color: rgba(215, 236, 176, 0.671);
	border: .313em solid rgba(19, 88, 28, 0.493);
	margin: .031em;
	border-radius: .625em;
	box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.418);

}

.snake-head-1 {
	background-color: rgba(104, 173, 90, 0.774);
	border: .313em solid rgba(19, 88, 28, 0.493);
	animation: head .350s ease-in 1 forwards;
	box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.418);

}

.snake-2 {
	background-color: rgb(255, 152, 67);
	border: .313em solid rgba(73, 33, 0, 0.466);
	margin: .031em;
	border-radius: .625em;
	box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.418);

}

.snake-head-2 {
	background-color: rgba(206, 93, 0, 0.904);
	border: .313em solid rgba(73, 33, 0, 0.466);
	animation: head .350s ease-in 1 forwards;
	box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.418);

}

.snake-tail {
	animation: tail .350s ease-in 1 forwards;
}

@keyframes tail {
	0% {
		opacity: 1;
		transform: scale(1)
	}

	55% {
		opacity: .75;
		transform: scale(.75)
	}

	75% {
		opacity: .5;
		transform: scale(.75)
	}
}

@keyframes head {
	0% {
		transform: scale(1)
	}

	55% {
		transform: scale(1.25)
	}
}




.food {
	background-color: rgb(184, 146, 189);
	border: .313em solid rgba(115, 74, 121, 0.486);
	margin: .031em;
	border-radius: .625em;
	z-index: 1;
	box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.418);

	animation: food .350s ease-in infinite alternate;
}

@keyframes food {
	0% {
		transform: scale(1);
	}

	25%,
	55% {
		transform: scale(1.25);
	}

	100% {
		transform: scale(1);
	}
}

.overlay {
	position: absolute;
	/* background-color: rgb(0, 0, 0); */
	background-color: rgba(255, 162, 167);

	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;

}

.play {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: 3rem;
	/* color: rgb(255, 255, 255); */
	color: rgb(193, 250, 255);
	animation: p-animate 1s ease-in-out infinite alternate;
}

@keyframes p-animate {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.hide {
	display: none;
}

.stack {
	flex-direction: column;
	align-content: center;
}