* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: sans-serif;
	font-weight: 100;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	/* padding: 3em; */
	overflow: hidden;
	background-color: rgb(255, 185, 189);
	flex-direction: column;
}

.header {
	display: block;
	font-size: 3em;
	display: flex;
	height: 10%;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	align-content: space-around;
	/* padding: 0; */
}

#landing {
	position: absolute;
	background-color: aquamarine;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	flex-direction: column;

}

.scores {
	height: 100%;
	margin: 0;
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.5rem;
	display: none;
	/* padding-left: .5rem;
	padding-right: .5rem; */

	/* background-color: rgba(245, 248, 239, 0.548); */
	/* box-shadow: .2rem .2rem 3rem rgba(0, 0, 0, 0.185); */
}

.scores p {
	text-align: center;
	/* padding: .625em; */
}

.scores>* {
	padding: 1.5rem;
}

.player-1 {
	margin: .625em;
	border-radius: .625em;
	color: rgba(19, 88, 28, 0.829);
	border: .24em solid rgba(19, 88, 28, 0.493);
	background-color: rgba(215, 236, 176, 0.671);
}

.player-2 {
	margin: .625em;
	border-radius: .625em;
	color: rgba(73, 33, 0, 0.863);
	border: .24em solid rgba(73, 33, 0, 0.466);
	background-color: rgb(255, 152, 67);
}

.player-3 {
	margin: .625em;
	border-radius: .625em;
	color: rgb(43, 42, 42);
	border: .24em solid rgba(58, 58, 58, 0.856);
	background-color: rgba(255, 255, 255, 0.842);
}

.player-4 {
	margin: .625em;
	border-radius: .625em;
	color: rgb(80, 76, 19);
	border: .24em solid rgba(139, 132, 33, 0.897);
	background-color: rgba(255, 242, 67, 0.822);
}

#game-board {
	background-color: rgb(193, 250, 255);
	width: 75vmin;
	height: 75vmin;
	display: grid;
	grid-template-columns: repeat(21, 1fr);
	grid-template-rows: repeat(21, 1fr);
	margin: 0;
	box-shadow: .5rem .5rem 1.5rem rgba(0, 0, 0, 0.185);
}

.snake {
	margin: .031em;
	border-radius: .625em;
	box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.418);
}

.snake-1 {
	border: .313em solid rgba(19, 88, 28, 0.493);
	background-color: rgba(215, 236, 176, 0.671);
}

.snake-head-1 {
	background-color: rgba(104, 173, 90, 0.774);
	animation: head .350s ease-in 1 forwards;
}

.snake-2 {
	border: .313em solid rgba(73, 33, 0, 0.466);
	background-color: rgb(255, 152, 67);
}

.snake-head-2 {
	background-color: rgba(206, 93, 0, 0.904);
	animation: head .350s ease-in 1 forwards;
}

.snake-3 {
	background-color: rgba(255, 255, 255, 0.842);
	border: .313em solid rgba(58, 58, 58, 0.856);
}

.snake-head-3 {
	background-color: rgba(124, 124, 124, 0.842);
	animation: head .350s ease-in 1 forwards;
}

.snake-4 {
	background-color: rgba(255, 242, 67, 0.822);
	border: .313em solid rgba(139, 132, 33, 0.897);
}

.snake-head-4 {
	background-color: rgba(170, 162, 70, 0.76);
	animation: head .350s ease-in 1 forwards;
}

.snake-tail {
	animation: tail .350s ease-in 1 forwards;
}

@keyframes tail {
	0% {
		opacity: 1;
		transform: scale(1)
	}

	55% {
		opacity: .75;
		transform: scale(.75)
	}

	75% {
		opacity: .5;
		transform: scale(.75)
	}
}

@keyframes head {
	0% {
		transform: scale(1)
	}

	55% {
		transform: scale(1.25)
	}
}

.food {
	background-color: rgb(184, 146, 189);
	border: .313em solid rgba(115, 74, 121, 0.486);
	margin: .031em;
	border-radius: .625em;
	z-index: 1;
	box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.418);

	animation: food .35s ease-in infinite alternate;
}

@keyframes food {
	0% {
		transform: scale(1);
	}

	25%,
	55% {
		transform: scale(1.25);
	}

	100% {
		transform: scale(1);
	}
}

.overlay {
	position: absolute;
	background-color: rgb(255, 185, 189);
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.play {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	/* flex-direction: column; */
	align-items: center;
	align-content: center;
	font-size: 3rem;
	color: rgb(255, 255, 255);
	animation: p-animate 1s ease-in-out infinite alternate;
}

#press-play {}

@keyframes p-animate {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.hide {
	display: none;
}

.stack {
	flex-direction: column;
	align-content: center;
}