* {
	box-sizing: border-box;
	margin: 0 auto;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	overflow: hidden;
	background-color: rgba(255, 162, 167, 0.664);

}

#game-board {
	background-color: rgb(193, 250, 255);
	width: 100vmin;
	height: 100vmin;
	display: grid;
	grid-template-columns: repeat(21, 1fr);
	grid-template-rows: repeat(21, 1fr);
}

.snake-1 {
	background-color: rgba(215, 236, 176, 0.671);
	border: 5px solid rgba(19, 88, 28, 0.945);
	margin: .5px;
	border-radius: 10px;
}

.snake-head-1 {
	background-color: rgba(104, 173, 90, 0.774);
	border: 5px solid rgba(19, 88, 28, 0.945);
	animation: head .350s ease-in 1 forwards;
}

.snake-2 {
	background-color: rgb(255, 152, 67);
	border: 5px solid rgb(73, 33, 0);
	margin: .5px;
	border-radius: 10px;
}

.snake-head-2 {
	background-color: rgba(206, 93, 0, 0.904);
	border: 5px solid rgb(73, 33, 0);
	animation: head .350s ease-in 1 forwards;
}

.snake-tail {
	animation: tail .350s ease-in 1 forwards;
}

@keyframes tail {
	0% {
		opacity: 1;
		transform: scale(1)
	}

	55% {
		opacity: .75;
		transform: scale(.75)
	}

	75% {
		opacity: .5;
		transform: scale(.75)
	}
}

@keyframes head {
	0% {
		/* opacity: .25; */
		transform: scale(1)
	}

	55% {
		/* opacity: 1; */
		transform: scale(1.25)
	}
}




.food {
	background-color: rgb(184, 146, 189);
	border: 5px solid rgba(115, 74, 121, 0.692);
	margin: .5px;
	border-radius: 10px;
	z-index: 1;
	animation: food .350s ease-in infinite alternate;
}

@keyframes food {
	0% {
		/* transform: scale(.75); */
		transform: scale(1);
	}

	25%,
	55% {
		/* transform: scale(1); */
		transform: scale(1.25);
	}

	100% {
		/* transform: scale(.75); */
		transform: scale(1);
	}
}

.overlay {
	position: absolute;
	/* background-color: rgba(255, 255, 255, 0.781); */
	/* background-color: rgba(255, 255, 255); */
	background-color: rgba(0, 0, 0, 0.750);

	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;

}

p {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 3rem;
	color: rgb(255, 255, 255);
	/* background-color: rgba(0, 0, 0, 0.884); */
	animation: p-animate 1s ease-in-out infinite alternate;
}

@keyframes p-animate {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.hide {
	display: none;
}

.stack {
	flex-direction: column;
	align-content: center;
}